<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">First Name</label>
        <input type="text" class="form-control" name="first_name" formControlName="first_name" #first_name/>
      </div>
      <div *ngIf="angForm.controls['first_name'].invalid && (angForm.controls['first_name'].dirty || angForm.controls['first_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['first_name'].errors.required">
          First Name is required.
        </div>
      </div>
	  <div class="form-group">
        <label class="col-md-4">Surname</label>
        <input type="text" class="form-control" name="surname" formControlName="surname" #surname/>
      </div>
      <div *ngIf="angForm.controls['surname'].invalid && (angForm.controls['surname'].dirty || angForm.controls['surname'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['surname'].errors.required">
          Surname is required.
        </div>
      </div>
	  <div class="form-group">
        <label class="col-md-4">Email</label>
        <input type="text" class="form-control" name="email" formControlName="email" #email/>
      </div>
      <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Email is required.
        </div>
		
      </div>
      <div class="form-group">
        <label class="col-md-4">Password</label>
        <input type="text" class="form-control" name="password" formControlName="password" #password/>
      </div>
      <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['password'].errors.required">
          Password is required.
        </div>
		
      <div class="form-group">
        <button (click)="addAdUnit(first_name.value, surname.value, email.value, password.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Create User</button>
		
      </div>
    </form>
  </div>
</div>